{% extends "layout.html" %}

{% block title %}
    <title>AlphaLogo - A Logo Hub for Designers</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="static/index.css">
{% endblock %}

{% block scripts %}
    <script src="static/index.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">
            AlphaLogo
        </div>
        <div class="linkBar">
            <div class="linkTitle">
                <a href="/im" class="textDefaultStyle">搜索</a>
            </div>
            <div class="linkTitle">
                <a href="/senior_search" class="textDefaultStyle">高级搜索</a>
            </div>
            <div class="linkTitle">
            	<span class="textDefaultStyle">匹配</span>
            </div>
        </div>
        <div class="input">
            <form id="imageForm" action="/match" enctype="multipart/form-data" method="POST">
                <label for="logo" style="padding-left:8px; padding-right:8px">请上传一张Logo图片</label>
                <input type="file" id="logo" name="logo">
                <input name="type" value="image" hidden>
                <button type="submit" style="padding-left:8px; padding-right:8px">Go</button> 
            </form>
        </div>
    </div>
{% endblock %}
