<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/reset.css">
        {% block title %}{% endblock %}
        {% block styles %}{% endblock %}
    </head>

    <!-- Flask message flashing -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- End -->

    <body style="overflow-x: hidden; background-color: #CCCCCC">
        {% block body %}{% endblock %}

        <script src="static/jquery.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>