<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block styles %}{% endblock %}
    </head>

    <!-- Flask message flashing -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- End -->

    <body>
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>