{% extends "layout.html" %}


{% block styles %}
    <link rel="stylesheet" href="static/search_match.css">
{% endblock %}

{% block scripts %}
    <script src="static/search_match.js"></script>
    <script src="static/match.js"></script>
{% endblock %}

{% block body %}
    <div class="container" id="totalContainer">
        <div class="titleContainerDefault" id="titleContainer">
            <div class="title" id="title">
                AlphaLogo
            </div>
            <div class="linkBar">
                <div class="currentLinkTitle" id="search">
                    <span class="textDefaultStyle">搜索</span>
                </div>
                <div class="linkTitle" id="match">
                    <span class="textDefaultStyle">匹配</span>
                </div>
            </div>
            <div class="input" id="inputSearch" hidden>
                <form id="textForm" action="/search" method="GET">
                    <input type="text" class="keyword" name="kw" placeholder="请输入要搜索的logo特征">
                    <input name="type" id="typeSearch" value="search" hidden>
                    <input type="text" id="enterpriseName" name="enterpriseName" value="" hidden>
                    <input type="text" id="nColors" name="nColors" value="0,0,0,0,0" hidden>
                <input type="text" id="saturation" name="saturation" value="0,0,0" hidden>
                <input type="text" id="brightness" name="brightness" value="0,0,0" hidden>
                    <div class="passiveAdvancedTitle" id="advanced">
                        <span class="textDefaultStyle">高级搜索</span>
                    </div>
                    <button type="submit" class="submit">Go</button>
                </form>
            </div>
            <div class="input" id="inputMatch">
                <form id="imageForm" action="/match" enctype="multipart/form-data" method="POST">
                    <input type="text" name="textfield" id="textfield" class="textfield" value="{{ kw }}" disabled="disable"> 
                    <input type="file" class="logo" id="logo" name="logo" onchange="showTextField()">
                    <input type="button" class="browse" id="browse" value="浏览">
                    <input name="type" id="typeMatch" value="match" hidden>
                    <button type="submit" class="submit" id="imgSubmit">Go</button> 
                </form>
            </div>

            <div class="advancedSearchPanel" id="advancedSearchPanel" >
                <div class="advancedSearchBar">
                    <div class="advancedSearchTitle">
                        配色数量：
                    </div>
                    <div class="advancedSearchType" id="colorNum2">
                        双色
                    </div>
                    <div class="advancedSearchType" id="colorNum3">
                        三色
                    </div>
                    <div class="advancedSearchType" id="colorNum4">
                        四色
                    </div>
                    <div class="advancedSearchType" id="colorNum5">
                        五色
                    </div>
                    <div class="advancedSearchType" id="colorNumMore">
                        更多色
                    </div>
                </div>
                <div class="advancedSearchBar">
                    <div class="advancedSearchTitle">
                        行业：
                    </div>
                    <div class="advancedSearchType" id="industryBank">
                        银行
                    </div>
                    <div class="advancedSearchType" id="industryStock">
                        证券
                    </div>
                    <div class="advancedSearchType" id="industryIT">
                        互联网
                    </div>
                    <div class="advancedSearchType" id="industryManufacturing">
                        制造业
                    </div>
                    <div class="advancedSearchType" id="industryEducation">
                        教育
                    </div>
                </div>
                <div class="advancedSearchBar">
                    <div class="advancedSearchTitle">
                        饱和度：
                    </div>
                    <div class="advancedSearchType" id="saturationLow">
                        低
                    </div>
                    <div class="advancedSearchType" id="saturationMiddle">
                        中
                    </div>
                    <div class="advancedSearchType" id="saturationHigh">
                        高
                    </div>
                </div>
                <div class="advancedSearchBar">
                    <div class="advancedSearchTitle">
                        亮度：
                    </div>
                    <div class="advancedSearchType" id="brightnessLow">
                        低
                    </div>
                    <div class="advancedSearchType" id="brightnessMiddle">
                        中
                    </div>
                    <div class="advancedSearchType" id="brightnessHigh">
                        高
                    </div>
                </div>
                <div class="advancedSearchBar">
                    <div class="advancedSearchTitle">
                        企业名：
                    </div>
                    <input type="text" class="enterpriseName" name="enterpriseName" id="advancedEnterpriseName" placeholder="请输入企业名称" onkeyup="enterpriseNameInput()">
                </div>
            </div>
        </div>

        <div class="container" id="rightSideContainer">
            <div class="moreInfoImgDiv" id="previewDiv">
                <div class="previewImgDiv" id="previewImgDiv">
                    <img src="/static/uploads/{{ upload }}" class="previewImg" id="previewImg">
                </div>

                <div class="moreInfoContainer" id="moreInfoContainer">
                    <!-- Write the codes of moreInfoContainer here, including various infos of the certain picture(preview image here), the color graph and the style. The border is shown only for the location, which needn't be used in the future. -->
                    Write the codes of moreInfoContainer here, including various infos of the certain picture(preview image here), the color graph and the style. The border is shown only for the location, which needn't be used in the future.
                </div>
            </div>
        </div>

        <div class="matchResultContainer" id="resultContainer">
            <div class="container" id="matchedResultContainer">
                {% if (logo_matched|length > 0) %}
                    <div class="resultTitle" id="matchedResultTitle">
                        您要找的是不是：
                    </div>
                    {% for logo in logo_matched %}
                        <div class="matchedResult">
                            <div>{{ logo.ent_name }}</div>
                            <img src="{{ url_for('static',filename=logo.filename) }}" class="matchedImg">
                            <!-- Just for demo, such code style is never encouraged -->
                            <div>
                            {% for color in logo.theme_colors %}
                                <div style="width: 20px;height: 20px;float:left;background-color: {{color}}"></div>
                            {% endfor %}
                            </div>
                            {{ logo.s }}
                            {{ logo.v }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="matchResultContainer" id="similarResultContainer">
                <div class="resultTitle" id="similarResultTitle">
                    共搜索到{{ logo_similar|length }}个相似结果
                </div>

                {% for logo in logo_similar %}
                    <div class="similarResult">
                        <div>{{ logo.ent_name }}</div>
                        <img src="{{ url_for('static',filename=logo.filename) }}" class="similarImg">
                        <div>
                        {% for color in logo.theme_colors %}
                            <div style="width: 20px;height: 20px;float:left;background-color: {{color}}"></div>
                        {% endfor %}
                        </div>
                        {{ logo.s }}
                        {{ logo.v }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
