<div class="previewImgDiv" id="chosenImgPreviewDiv">
    <img src="" class="previewImg" id="chosenImg">
</div>

<div class="moreInfoContainer" id="moreInfoContainerForChosen">
    <div class="moreInfoTitle">
        <p class="infoTitle"> 产品或组织名称 </p>
        <span style="font-size: 15px" id="chosenImgEntName"> </span>
    </div>
    </br>
    <div class="moreInfoPie" >
        <p class="infoTitle"> 图像色彩分析</p>
        <span class="infoSubtitle">亮度</span>
        <span style="font-size: 11px;" id="chosenImgValue">0.0</span>
        <div class="rectangle">
            <div class="rectanglePart" id="chosenRectValue"></div>
        </div>
        <span class="infoSubtitle">饱和度</span>
        <span style="font-size: 11px;" id="chosenImgSaturation">0.0</span>
        <div class="rectangle2">
            <div class="rectanglePart2" id="chosenRectSaturation"></div>
        </div>
        </br>
        <p class="infoTitle">图像主要颜色占比</p>
        <div class="pieAnimationDiv">
            <span id="chosenPie" class="pie">,800</span>
        </div>
        <div class="auxForMargin">*返回最主要的两个颜色</div>
        <div class="colorDetail">
            <div class="colorDetailBlock" id="chosenImgThemeColor0">
                <abbr class="linkShowInfo" title="" id="chosenImgThemeColorTitle0"></abbr>
            </div>
            <div class="colorDetailFigure" id="chosenImgThemeWeights0"> </div>
            <div class="colorDetailBlock" id="chosenImgThemeColor1">
                <abbr class="linkShowInfo" title="" id="chosenImgThemeColorTitle1"></abbr>
            </div>
            <div class="colorDetailFigure" id="chosenImgThemeWeights1"> </div>
        </div>
    </div>
    </br>
    <div class="moreText">
        <p class="infoTitle">图像说明</p>
        <div class="moreText2">
            <div>
            <span  id="chosenImgInfo"></span>
            <span> &#10;&#10;&#10;&#10;&#10;&#10;</span>
            <abbr class="moreText" title="HIGH UP"></abbr>
            </div>
            <div style="height: 50px"></div>
        </div>
    </div>
</div>