{% extends "layout.html" %}


{% block styles %}
    <link rel="stylesheet" href="static/search.css">
{% endblock %}

{% block scripts %}
    <script src="static/search.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="title" id="title">
            AlphaLogo
        </div>
        <div class="linkBar">
            <div class="currentLinkTitle" id="search">
                <span class="textDefaultStyle">搜索</span>
            </div>
            <div class="linkTitle" id="match">
                <span class="textDefaultStyle">匹配</span>
            </div>
        </div>
        <div class="input" id="input_search">
            <form id="textForm" action="/search" method="GET">
                <input type="text" class="keyword" name="kw" value="{{ kw }}">
                <input name="type" id="type_search" value="search" hidden>
                <div class="passiveSeniorTitle" id="senior">
                    <span class="textDefaultStyle">高级搜索</span>
                </div>
                <button type="submit" class="submit">Go</button>
            </form>
        </div>
        <div class="seniorSearchPanel" id="senior_search_panel" hidden>
            <div class="seniorSearchBar">
                <div class="seniorSearchTitle">
                    颜色：
                </div>
                <div class="seniorSearchType">
                    蓝色
                </div>
                <div class="seniorSearchType">
                    红色
                </div>
                <div class="seniorSearchType">
                    绿色
                </div>
            </div>
            <div class="seniorSearchBar">
                <div class="seniorSearchTitle">
                    风格：
                </div>
                <div class="seniorSearchType">
                    简约
                </div>
                <div class="seniorSearchType">
                    激情
                </div>
            </div>
        </div>

        <div class="container" id="search_container">
        	{% if (logo_matched|length > 0) %}
	        	<div class="resultTitle" id="matchedResultTitle">
	            	您要找的是不是：
	        	</div>
	        	{% for logo in logo_matched %}
		        	<div class="matchedResult">
		                <div>{{ logo.ent_name }}</div>
		                <img src="{{ url_for('static',filename=logo.filename) }}" class="matchedImg">
		            </div>
	        	{% endfor %}
	        {% endif %}

	        <div class="resultTitle" id="similarResultTitle">
	            共搜索到{{ logo_similar|length }}个相似结果
	        </div>

	        {% for logo in logo_similar %}
	            <div class="similarResult">
	                <div>{{ logo.ent_name }}</div>
	                <img src="{{ url_for('static',filename=logo.filename) }}" class="similarImg">
	            </div>
	        {% endfor %}
        </div>
    </div>
{% endblock %}
