{% extends "layout.html" %}

{% block title %}
    <title>{{kw}} - AlphaLogo</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="static/search_match.css">
{% endblock %}

{% block scripts %}
    <script src="static/search_match.js"></script>
    <script src="static/search.js"></script>
{% endblock %}

{% block body %}
    <div class="container" id="totalContainer">
    	<div style="position: absolute; right: 0; top: 0;">
            Time consumed: {{ time }} sec
        </div>

    	<div class="titleContainerDefault" id="titleContainer">
    		<div class="title" id="title">
	            AlphaLogo
	        </div>
	        <div class="linkBar">
	            <div class="currentLinkTitle" id="search">
	                <span class="textDefaultStyle">搜索</span>
	            </div>
	            <div class="linkTitle" id="match">
	                <span class="textDefaultStyle">匹配</span>
	            </div>
	            <div class="currentPointerSearch" id="currentPointer"></div>
	        </div>
	        <div class="input" id="inputSearch">
	            <form id="textForm" action="/search" method="GET">
	                <input type="text" class="keyword" name="kw" value="{{ kw }}" placeholder="请输入要搜索的logo特征">
	                <input name="type" id="typeSearch" value="search" hidden>
	                <input type="text" id="enterpriseName" name="enterpriseName" value="" hidden>
	                <input type="text" id="nColors" name="nColors" value="0,0,0,0,0" hidden>
                <input type="text" id="saturation" name="saturation" value="0,0,0" hidden>
                <input type="text" id="brightness" name="brightness" value="0,0,0" hidden>
	                <div class="passiveAdvancedTitle" id="advanced">
	                    <span class="textDefaultStyle">高级搜索</span>
	                </div>
	                <button type="submit" class="submit">Go</button>
	            </form>
	        </div>
	        <div class="input" id="inputMatch" hidden>
	            <form id="imageForm" action="/match" enctype="multipart/form-data" method="POST">
	                <input type="text" name="textfield" id="textfield" class="textfield" placeholder="请选择一张logo图片" disabled="disable"> 
	                <input type="file" class="logo" id="logo" name="logo" onchange="showTextField()">
	                <input type="button" class="browse" id="browse" value="浏览">
	                <input name="type" id="typeMatch" value="match" hidden>
	                <button type="submit" class="submit" id="imgSubmit">Go</button> 
	            </form>
	            <div class="previewDiv" id="previewDiv">
		            <img src="" class="previewImg" id="previewImg">
		        </div>
	        </div>
	        
	        {% include "advanced_search_panel.html" %}
    	</div>

    	<div class="container" id="rightSideContainer">
    		<div class="moreInfoChosenImgDivDefault" id="chosenImgDiv">
    			{% include "moreinfo_side_container.html" %}
    		</div>

    		<div class="sideButtonLeft">
		        <div class="triangleLeftUnable" id="triangleLeft">
		        </div>
		    </div>
    		<div class="sideButtonRight">
		        <div class="triangleRight" id="triangleRight" dataLogoNum="{{logo_matched|length}}">
		        </div>
		    </div>
    	</div>

    	<div class="resultContainerPositionSearch" id="resultContainer">
	        <div class="resultTitle" id="similarResultTitle">
	            共搜索到{{ logo_matched|length }}个结果
	        </div>

	        {%- for part in logo_matched|batch(20) %}
	        	<div class="resultPartPositionDefault" id="resultPart{{loop.index}}"> 
	        		{%- for row in part|batch(4) %}
		        		<div class="imgSimilarResultRow">
			        		{%- for logo in row %}
			        			<div class="similarResult" onclick="showChosenImgMoreInfo(this, 1)" dataFilename={{logo.filename}} dataEntName={{logo.ent_name}} 
	                            dataInfo={{logo.info}} dataThemeColors={{logo.theme_colors}} dataThemeWeights={{logo.theme_weights}} dataS={{logo.s}} 
	                            dataV={{logo.v}} >
					                <div>{{ logo.ent_name }}</div>
					                <img src="{{ url_for('static',filename=logo.filename) }}" class="similarImg" >
				                    <div>
				                    {% for color in logo.theme_colors %}
				                        <div style="width: 20px;height: 20px;float:left;background-color: {{color}}"></div>
				                    {% endfor %}
				                    </div>
				                    {{ logo.s }}
					                {{ logo.v }}
					            </div>
			        		{%- endfor %}
			        	</div>
	        		{%- endfor %}
	        	</div>
	        {%- endfor %}
    	</div>
    </div>

    <script type="text/javascript" src="static/canvas-nest.min.js"></script>
    <canvas class="canvasPage" id="canvasPage"></canvas>
    
{% endblock %}
