{% extends "layout.html" %}


{% block styles %}
    <link rel="stylesheet" href="static/search_match.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/search.js"></script>
    <script type="text/javascript" src="static/global.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="left">
            AlphaLogo
        </div>
        <div class="linkTitle">
            <span style="padding-left:8px; padding-right:8px">搜索</span>
            <a href="/im" style="padding-left:8px; padding-right:8px">匹配</a>
        </div>
        <div class="input">
            <form id="textForm" action="/search" method="POST">
                <input type="text" id="keyword" name="kw" value="{{ kw }}" style="width: 300px">
                <input name="type" value="text" hidden>
                <button type="submit" style="padding-left:8px; padding-right:8px">Go</button>
            </form>
        </div>
        <div class="linkTitle">
            <a href="/senior_search" style="padding-left:8px; padding-right:8px">高级搜索</a>
        </div>

        {% if (logo_matched|length > 0) %}
        	<div class="resultTitle" id="matchedResultTitle">
            	您要找的是不是：
        	</div>
        	{% for logo in logo_matched %}
	        	<div class="matchedResult">
	                <div>{{ logo.ent_name }}</div>
	                <img src="{{ url_for('static',filename=logo.filename) }}">
	            </div>
        	{% endfor %}
        {% endif %}

        <div class="resultTitle" id="similarResultTitle">
            共搜索到{{ logo_similar|length }}个相似结果
        </div>

        {% for logo in logo_similar %}
            <div class="similarResult">
                <div>{{ logo.ent_name }}</div>
                <img src="{{ url_for('static',filename=logo.filename) }}">
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
