<div class="linkBar">
    <div class="currentLinkTitle" id="search">
        <span class="textDefaultStyle">搜索</span>
    </div>
    <div class="linkTitle" id="match">
        <span class="textDefaultStyle">匹配</span>
    </div>
</div>
<div class="input" id="inputSearch" hidden>
    <form id="textForm" action="/search" method="GET">
        <input type="text" class="keyword" name="kw" placeholder="请输入要搜索的logo特征">
        <input name="type" id="typeSearch" value="search" hidden>
        <input type="text" id="enterpriseName" name="enterpriseName" value="" hidden>
        <input type="text" id="nColors" name="nColors" value="0,0,0,0,0" hidden>
    <input type="text" id="saturation" name="saturation" value="0,0,0" hidden>
    <input type="text" id="brightness" name="brightness" value="0,0,0" hidden>
        <div class="passiveAdvancedTitle" id="advanced">
            <span class="textDefaultStyle">高级搜索</span>
        </div>
        <button type="submit" class="submit">Go</button>
    </form>
</div>
<div class="input" id="inputMatch">
    <form id="imageForm" action="/match" enctype="multipart/form-data" method="POST">
        <input type="text" name="textfield" id="textfield" class="textfield" value="{{ kw }}" disabled="disable"> 
        <input type="file" class="logo" id="logo" name="logo" onchange="showTextField()">
        <input type="button" class="browse" id="browse" value="浏览">
        <input name="type" id="typeMatch" value="match" hidden>
        <button type="submit" class="submit" id="imgSubmit">Go</button> 
    </form>
</div>

<div class="advancedSearchPanel" id="advancedSearchPanel" >
    {% for title, fields in
        [
        ("配色数量：", 
            [
                ("双色","colorNum2"),
                ("三色","colorNum3"),
                ("四色","colorNum4"),
                ("五色","colorNum5"),
                ("更多色","colorNumMore")
            ]
        ),
        ("行业：",
            [
                ("银行", "industryBank"),
                ("银行", "industryStock"),
                ("银行", "industryIT"),
            ]
        ),
        ("饱和度：",
            [
                ("低", "saturationLow"),
                ("中", "saturationMiddle"),
                ("高", "saturationHigh"),
            ]
        ),
        ("亮度：",
            [
                ("低", "brightnessLow"),
                ("中", "brightnessMiddle"),
                ("高", "brightnessHigh"),
            ]
        ),


        ]
    %}
    <div class="advancedSearchBar">
        <div class="advancedSearchTitle">
            {{ title }}
        </div>
        {% for caption, id_ in fields %}
        <div class="advancedSearchType" id="{{id_}}">
            {{ caption }}                        
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="advancedSearchBar">
        <div class="advancedSearchTitle">
            企业名：
        </div>
        <input type="text" class="enterpriseName" name="enterpriseName" id="advancedEnterpriseName" placeholder="请输入企业名称" onkeyup="enterpriseNameInput()">
    </div>
</div>