{% extends "layout.html" %}

{% block title %}
    <title>{{kw}} - AlphaLogo</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="static/search_match.css">
{% endblock %}

{% block scripts %}
    <script src="static/senior_search.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="left">
            AlphaLogo
        </div>
        <div class="linkTitle">
            <div class="linkTitle">
	            <span class="textDefaultStyle">搜索</span>
	        </div>
	        <div class="currentLinkTitle">
	        	<span class="textDefaultStyle">高级搜索</span>
	        </div>
	        <div class="linkTitle">
	        	<span class="textDefaultStyle">匹配</span>
	        </div>
        </div>
        <div class="input">
            <form id="textForm" action="/senior_search" method="POST">
                <input type="text" id="keyword" name="kw" value="{{ kw }}" style="width: 300px">
                <input type="hidden" name="type" value="text">
                <button type="submit" style="padding-left:8px; padding-right:8px">Go</button>
            </form>
        </div>
        {% if (logo_matched|length > 0) %}
        	<div class="resultTitle" id="matchedResultTitle">
            	您要找的是不是：
        	</div>
        	{% for logo in logo_matched %}
	        	<div class="matchedResult">
	                <div>{{ logo.ent_name }}</div>
	                <img src="{{ url_for('static',filename=logo.filename) }}">
	            </div>
        	{% endfor %}
        {% endif %}

        <div class="resultTitle" id="similarResultTitle">
            共搜索到{{ logo_similar|length }}个相似结果
        </div>

        {% for logo in logo_similar %}
            <div class="similarResult">
                <div>{{ logo.ent_name }}</div>
                <img src="{{ url_for('static',filename=logo.filename) }}">
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
