/*
* @Author: GigaFlower
* @Date:   2016-12-23 23:12:10
* @Last Modified by:   GigaFlower
* @Last Modified time: 2017-01-12 11:02:39
*/

body {
    /*background-color: #e5e0cc;*/
    overflow-y: hidden;
    background: #fff url(bg.jpg) no-repeat fixed top;
    background-size: cover;
}

div.container {
    width: 100%;

    font-family: sans-serif, "微软雅黑","华文黑体", "Arial";
}

div.title {
    cursor: default;
    transition: margin-top 0.6s, margin-bottom 0.6s;

    margin-top: 100px;
    margin-bottom: 120px;

    text-align: center;
    font-size: 70px;
    font-weight: bold;
    
    font-family: fantasy;

    color: #fff;
}

div.title.up {
    margin-top: 70px;
    margin-bottom: 30px;
}

div.linkBar {
    position: relative;

    height: 40px;
    width: 300px;

    color: #eee;

    margin: 0 auto;
    
    text-align: center;
    transition: margin-top 0.6s;
}

div.currentPointer {
    transition: left 0.5s;

    position: absolute;
    background-color: #ddd;

    left: 32px;
    bottom: -2px;

    height: 4px;
    width: 110px;
}

div.linkTitle {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    border: 2px transparent solid;
    border-radius: 5px;

    text-align: center;
    color: #aaa;
    font-size: 18px;
}

div.linkTitle:hover {
    border: 2px #BBBBBB solid;
}

div.currentLinkTitle {
    display: inline-block;
    background-color: transparent;
    cursor: default;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    text-align: center;
    font-size: 18px;
}

div.input {
    margin-top: 10px;

    text-align: center;
    font-size: 16px;
}

input.textfield,
input.keyword {
    background-color: transparent;
    color: #fff;
    width: 60%;
    height: 40px;

    border: 3px rgba(255,255,255,0.8) solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;

    font-size: 18px;
    text-indent: 10px;
    outline-width: 0;
    vertical-align: top;
}
/*
input.keyword:hover {
    border: 3px #888888 solid;
}*/

button.submit {
    cursor: pointer;
    background-color: transparent;
    color: #ddd;
    height: 48px;
    width: 55px;

    border: 3px rgba(255,255,255,0.8) solid;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;
    /*color: #888888;*/
    outline-width: 0;
    vertical-align: top;
}
button.submit:hover {
    background-color: transparent;

    color: #fff;
}

div.passiveAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -80px;
    padding-top: 8px;

    height: 40px;

    font-size: 38px;
    text-align: center;
    color: #ddd;
    outline-width: 0;

    transition: color .3s;
}

div.passiveAdvancedTitle:hover {
    color: #fff;
}

div.activeAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -80px;
    padding-top: 8px;

    height: 24px;

    font-size: 38px;
    text-align: center;
    color: #fff;
    outline-width: 0;
}

input.browse {
    cursor: pointer;
    background-color: transparent;

    height: 38px;
    margin-left: -80px;
    margin-top: -4px;

    font-size: 38px;
    text-align: center;
    color: #ddd;

    border: none;

    outline-width: 0;
    vertical-align: top;

    transition: color .3s;

    display: inline-block;
}

input.browse:hover {
    color: #eee;
}

input.logo {
    display: none;

    width: 59px;
    height: 32px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
}

div.previewDiv{
    display: inline-block;

    margin-top: 30px; 

    width: 220px;
    height: 220px;

    box-shadow: 3px 3px 6px 2px #888888;
    
    border: 3px #888888 solid;
    border-radius: 25px;

    text-align: center;
}

img.previewImg{
    padding-top: 25px;

    max-width: 200px;
    max-height: 200px;
}

canvas.canvasPage {
    position: fixed;

    top: 0px;
    left: 0px;
    z-index: -1;

    width: 800px;
    height: 600px;

    opacity: 0.5;
}



.textDefaultStyle {
    padding-left:8px;
    padding-right:8px;
}
