/*
* @Author: GigaFlower
* @Date:   2016-12-23 23:12:10
* @Last Modified by:   GigaFlower
* @Last Modified time: 2017-01-12 03:22:56
*/

body {
    background-color: #e5e0cc;
}

div.container {
    width: 100%;

    font-family: "微软雅黑","华文黑体", "Arial", sans-serif;
}

div.title {
    cursor: default;
    transition: margin-top 0.6s, margin-bottom 0.6s;

    margin-top: 100px;
    margin-bottom: 120px;

    text-align: center;
    font-size: 70px;
    font-weight: bold;
    
    font-family: fantasy;
}

div.title.up {
    margin-top: 70px;
    margin-bottom: 30px;
}

div.linkBar {
    position: relative;

    height: 40px;
    width: 300px;

    margin: 0 auto;
    
    text-align: center;
    transition: margin-top 0.6s;
}

div.currentPointer {
    transition: left 0.5s;

    position: absolute;
    background-color: #aa9;

    left: 32px;
    bottom: -2px;

    height: 4px;
    width: 110px;
}

div.linkTitle {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    border: 2px transparent solid;
    border-radius: 5px;

    text-align: center;
    color: #888888;
    font-size: 18px;
}
div.linkTitle:hover {
    border: 2px #BBBBBB solid;

    color: #444444;
}

div.currentLinkTitle {
    display: inline-block;
    background-color: transparent;
    cursor: default;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    text-align: center;
    font-size: 18px;
}

div.input {
    margin-top: 10px;

    text-align: center;
    font-size: 16px;
}

input.keyword {
    background-color: transparent;

    width: 60%;
    height: 30px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    outline-width: 0;
    vertical-align: top;
}
input.keyword:hover {
    border: 3px #888888 solid;
}

button.submit {
    cursor: pointer;
    background-color: #DDDDDD;

    height: 38px;
    width: 55px;

    border: 3px #AAAAAA solid;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;
    color: #888888;
    outline-width: 0;
}
button.submit:hover {
    border: 3px #888888 solid;

    color: #000000;
}

div.passiveAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -80px;
    padding-top: 8px;

    height: 24px;

    font-size: 18px;
    text-align: center;
    color: #888888;
    outline-width: 0;

    transition: color .3s;
}

div.passiveAdvancedTitle:hover {
    color: #444444;
}

div.activeAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -80px;
    padding-top: 8px;

    height: 24px;

    font-size: 18px;
    text-align: center;
    color: #000000;
    outline-width: 0;
}

div.advancedSearchPanel {
    transition: transform 0.6s;
    transform: rotateX(90deg);
    transform-origin: 50% 0;

    display: inline-block;
    background-color: rgba(255,255,255,0.4);

    margin-top: 40px;

    width: 700px;

    box-shadow: 3px 3px 6px 3px #888888;

    border: 3px #FFFFFF solid;
    border-radius: 20px;
    border-color: transparent;
    
    text-align: center;
    font-size: 18px;
}

div.advancedSearchBar {
    margin: 5px 0px 5px 0px;

    height: 40px;

    text-align: center;
    font-size: 18px;
}

div.advancedSearchTitle {
    cursor: default;

    padding-top: 10px;
    padding-left: 20px;

    width: 100px;
    height: 25px;
    float: left;
    
    border: 3px #FFFFFF solid;
    border-color: transparent;

    text-align: left;
    font-size: 18px;
}

div.advancedSearchType {
    cursor: pointer;

    margin: 0 5px 0 5px;
    padding-top: 10px;
    float: left;

    width: 80px;
    height: 25px;
    
    border: 2px #fff solid;
    border-radius: 10px;
    border-color: transparent;

    text-align: center;
    color: #888;
    font-size: 18px;

    transition: color .2s, border-color .2s, background-color .2s;
}

div.advancedSearchType:hover {
    border-color: #ccc;
    color: #444;
}

div.advancedSearchType.active {
    background-color: rgba(0,0,0,0.3);
    border-color: #888;
    color: #fff;
}

div.advancedSearchType.active:hover {
    border-color: #ddd;
}

input.enterpriseName {
    background-color: transparent;

    margin-top: 3px;

    width: 200px;
    height: 28px;
    float: left;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    outline-width: 0;
    vertical-align: top;
}
input.enterpriseName:hover {
    border: 3px #888888 solid;
}

input.browse {
    cursor: pointer;
    background-color: transparent;

    height: 38px;
    margin-left: -80px;

    font-size: 21px;
    text-align: center;
    color: #888;

    border: none;

    outline-width: 0;
    vertical-align: top;

    transition: color .2s;
}

input.browse:hover {
    color: #000000;
}

input.logo {
    display: none;

    width: 59px;
    height: 32px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
}

input.textfield {
    background-color: transparent;

    width: 60%;
    height: 30px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    color: #888888;
    outline-width: 0;
    vertical-align: top;
}
input.textfield:hover {
    border: 3px #888888 solid;
}

div.previewDiv{
    display: inline-block;

    margin-top: 30px; 

    width: 220px;
    height: 220px;

    box-shadow: 3px 3px 6px 2px #888888;
    
    border: 3px #888888 solid;
    border-radius: 25px;

    text-align: center;
}

img.previewImg{
    padding-top: 25px;

    max-width: 200px;
    max-height: 200px;
}

canvas.canvasPage {
    position: fixed;

    top: 0px;
    left: 0px;
    z-index: -1;

    width: 800px;
    height: 600px;

    opacity: 0.5;
}

.textDefaultStyle {
    padding-left:8px;
    padding-right:8px;
}
