/*
* @Author: GigaFlower
* @Date:   2016-12-23 23:12:10
* @Last Modified by:   GigaFlower
* @Last Modified time: 2017-01-12 11:31:36
*/

body {
    background-color: #e5e0cc;
    overflow-x: hidden;
}

div.container {
    width: 100%;

    font-family: "微软雅黑", "Droid Sans Fallback","文泉驿微米黑","ubuntu","Ubuntu", "Calibri",
            "Century Gothic", "Verdana", "Tahoma", "Arial", "黑体";
}
div#totalContainer {
    display: flex;

    flex-flow: row wrap;
}
div#matchedResultContainer {
    display: flex;

    flex-flow: row wrap;
    justify-content: flex-start;
}
div#similarResultContainer {
    display: flex;

    flex-flow: row wrap;
    justify-content: flex-start;
}

div.resultContainerPositionSearch {
    transition: margin-right 1.2s;
    display: flex;
    position: relative;

    margin-top: 10px;
    margin-right: 0px;
    padding: 20px; 

    width: 100%;

    flex-grow: 10;
    flex-flow: row wrap;
    justify-content: space-around;
}

div#resultContainer{
    width: 100%;
}

div.resultContainerPositionMatch {
    transition: margin-right 1.2s;
    display: flex;
    position: relative;

    margin-top: 10px;
    margin-right: 250px;
    padding: 20px; 

    width: 100%;

    border: 0px #FFFFFF solid;
    border-radius: 20px;
    box-shadow: 3px 3px 6px 2px #888888;

    flex-grow: 10;
    flex-flow: row wrap;
    justify-content: flex-start;
}

div.title {
    cursor: pointer;

    margin: 20px -10px 0px 30px;
    float: left;

    width: 180px;

    text-align: center;
    font-size: 40px;
    font-weight: bold;

    font-family: fantasy;
}

img.titleImg {
    max-height: 130px;
    max-width: 200px;
}

div.titleContainerDefault {
    position: relative;
    background-color: rgba(255,255,255,0.3);

    margin: 0px 0 0 0px;

    width: 700px;
    height: 110px;

    border: 0px #FFFFFF solid;
    border-radius: 15px;
    box-shadow: 3px 3px 6px 2px #888888;

    z-index: 100;
}

div.titleContainerPassive {
    transition: opacity 0.5s;
    background-color: rgba(255,255,255,0.8);
    position: fixed;

    top: 0px;
    left: 0px;
    z-index: 100;

    width: 700px;
    height: 110px;

    border: 0px #FFFFFF solid;
    border-radius: 15px;
    box-shadow: 3px 3px 6px 2px #888888;

    opacity: 0.1;
}
div.titleContainerPassive:hover {
    transition: opacity 1s;

    opacity: 1;
}

div.linkBar {
    position: relative;

    height: 40px;
    width: 300px;

    margin: 0 auto;
    
    text-align: center;
    transition: margin-top 0.6s;
}

div.currentPointerSearch {
    transition: left 0.5s;

    position: absolute;
    background-color: #aa9;

    left: 33px;
    bottom: 0px;

    height: 4px;
    width: 110px;
}

div.currentPointerMatch {
    transition: left 0.5s;

    position: absolute;
    background-color: #aa9;

    left: 158px;
    bottom: 0px;

    height: 4px;
    width: 110px;
}

div.linkTitle {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    border: 2px transparent solid;
    border-radius: 5px;

    text-align: center;
    color: #888888;
    font-size: 18px;
}
div.linkTitle:hover {
    border: 2px #BBBBBB solid;

    color: #444444;
}

div.currentLinkTitle {
    display: inline-block;
    background-color: transparent;
    cursor: default;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    text-align: center;
    font-size: 18px;
}

div.input {
    margin-top: 10px;

    text-align: center;
    font-size: 16px;
}

input.keyword {
    background-color: transparent;

    width: 60%;
    height: 30px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    outline-width: 0;
    vertical-align: top;
}
input.keyword:hover {
    border: 3px #888888 solid;
}

button.submit {
    cursor: pointer;
    background-color: #DDDDDD;

    height: 38px;
    width: 55px;

    border: 3px #AAAAAA solid;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;
    color: #888888;
    outline-width: 0;
}
button.submit:hover {
    border: 3px #888888 solid;

    color: #000000;
}

div.passiveAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -80px;
    padding-top: 8px;

    height: 24px;

    font-size: 18px;
    text-align: center;
    color: #888888;
    outline-width: 0;

    transition: color .3s;
}

div.passiveAdvancedTitle:hover {
    color: #444444;
}

div.activeAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -80px;
    padding-top: 8px;

    height: 24px;

    font-size: 18px;
    text-align: center;
    color: #000000;
    outline-width: 0;
}

div.advancedSearchPanel {
    background-color: rgba(255,255,255,0.9);
    margin-top: -5px;
    display: block;
}

/*
div.advancedSearchBar {
    margin: 5px 0px 5px 0px;

    height: 40px;

    text-align: center;
    font-size: 18px;
}

div.advancedSearchTitle {
    cursor: default;

    padding-top: 10px;
    padding-left: 20px;

    width: 100px;
    height: 25px;
    float: left;
    
    border: 3px #FFFFFF solid;
    border-color: transparent;

    text-align: left;
    font-size: 18px;
}

div.advancedSearchType {
    cursor: pointer;

    margin: 0 5px 0 5px;
    padding-top: 10px;
    float: left;

    width: 80px;
    height: 25px;
    
    border: 2px #fff solid;
    border-radius: 10px;
    border-color: transparent;

    text-align: center;
    color: #888;
    font-size: 18px;

    transition: color .2s, border-color .2s, background-color .2s;
}

div.advancedSearchType:hover {
    border-color: #ccc;
    color: #444;
}

div.advancedSearchType.active {
    background-color: rgba(0,0,0,0.3);
    border-color: #888;
    color: #fff;
}

div.advancedSearchType.active:hover {
    border-color: #ddd;
}
*/
/*input.enterpriseName {
    background-color: transparent;

    margin-top: 3px;

    width: 200px;
    height: 28px;
    float: left;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    outline-width: 0;
    vertical-align: top;
}
input.enterpriseName:hover {
    border: 3px #888888 solid;
}
*/
input.browse {
    cursor: pointer;
    background-color: transparent;

    height: 38px;
    margin-left: -80px;

    font-size: 21px;
    text-align: center;
    color: #888;

    border: none;

    outline-width: 0;
    vertical-align: top;

    transition: color .2s;
}

input.browse:hover {
    color: #000000;
}

input.logo {
    display: none;

    width: 59px;
    height: 32px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
}

input.textfield {
    background-color: transparent;

    width: 60%;
    height: 30px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    color: #888888;
    outline-width: 0;
    vertical-align: top;
}
input.textfield:hover {
    border: 3px #888888 solid;
}

div.resultTitle {
    margin: 30px 20px 20px 0;

    width: 100%;

    font-size: 22px;
    font-weight: bold;
}

div.imgMatchedResultRow {
    display: flex;

    margin: 0px 0px 0px 0px;

    width: 100%;

    flex-flow: row wrap;
    justify-content: center;
}

#resultContainer div.imgSimilarResultRow {
    display: flex;

    margin: 20px auto;

    width: 80%;

    flex-flow: row wrap;
    justify-content: space-around;

    transition: width 1.2s;  
}

#resultContainer.compressed div.imgSimilarResultRow {
    width: 90%;
}

div.matchedResultActive,
div.matchedResult {
    /*transition: box-shadow,border,transform,background-color 1s,1s,0.5s,1s;*/
    transition: transform 0.2s;
    /*background-color: #DDDDFF;*/
    transform: scale(1.0);
    display: inline-block;
    cursor: pointer;

    margin: 10px; 
    /*padding: 20px 0px 0px 0px;*/

    width: 170px;
    height: 136px;
    
    box-shadow: 3px 3px 6px 2px #888888;

    /*border: 3px #888888 solid;*/
    /*border-radius: 3px;*/

    /*text-align: center;*/
    /*font-size: 20px;*/
}

div.matchedResultActive:hover,
div.matchedResult:hover{
    transform: scale(1.1);

    /*box-shadow: 3px 3px 6px 2px #888888;*/
    
    /*border: 3px #888888 solid;*/
}


div.similarResultActive,
div.similarResult {
    /*transition: box-shadow,border,transform,background-color 1s,1s,0.5s,1s;*/
    transition: transform 0.2s;
    /*background-color: #FFFFFF;*/
    display: inline-block;
    cursor: pointer;

    margin: 10px;
    /*padding: 20px 0px 0px 0px;*/

    width: 170px;
    height: 136px;
    
    box-shadow: 3px 3px 6px 2px #888888;

    /*border: 3px #FFFFFF solid;*/
    border-radius: 4px;
    border-color: transparent;

    /*text-align: center;*/
    font-size: 18px;
}

div.similarResult:hover,
div.similarResultActive{
    transform: scale(1.1);
    /*box-shadow: 3px 3px 6px 2px #888888;*/

    /*border: 3px #888888 solid;*/
}
/*
div.similarResultActive {
    transition: box-shadow,border,transform,background-color 1s,1s,0.5s,1s;
    background-color: #DDDDFF;
    transform: scale(1.0);
    display: inline-block;
    cursor: pointer;

    margin: 10px;

    width: 170px;
    height: 136px;
    
    box-shadow: 3px 3px 6px 2px #888888;

    border: 3px #888888 solid;
    border-radius: 3px;

    text-align: center;
    font-size: 18px;
}*/

img.matchedImg {
    /*padding: 10px 0 10px 0;*/
    /*max-width: 150px;*/
    /*max-height: 150px;*/
    width: 100%;
    height: 100%;

}

img.similarImg {
    /*padding: 10px 0 10px 0;*/

    /*max-width: 150px;*/
    /*max-height: 150px;*/
    width: 100%;
    height: 100%;
}

div.moreInfoTargetImgDiv {
    position: fixed;
    background-color: #eed;
    transition: top 1.2s;
    top: 0px;
    right: 0px;
    z-index: 2;
    padding-top: 30px;

    height: 100%;
    width: 230px;
    
    border: 0px #888888 solid;
    border-radius: 10px;

    text-align: center;
}

div.previewImgDiv {
    display: inline-block;
    /*background-color: #FFFFFF;*/

    margin: 10px;
    box-shadow: 3px 3px 6px 2px #888888;
    /*width: 160px;*/
    /*height: 160px;*/

    /*border: 0px #888888 solid;*/
    /*border-radius: 25px;*/

    /*text-align: center;*/
}

img.previewImg {
    /*padding-top: 20px;*/

    max-width: 150px;
    max-height: 150px;
}

div.moreInfoChosenImgDivDefault,
div.moreInfoChosenImgDivLeft,
div.moreInfoChosenImgDivDoubleLeft{
    position: fixed;
    background-color: transparent;
    transition: right 1.2s;

    top: 0px;
    z-index: 1;

    height: 99%;
    width: 230px;
    
    border: 0px #888888 solid;
    border-radius: 10px;

    text-align: center;
    margin-top: 30px;
}

div.moreInfoChosenImgDivDefault{
    right: -240px;
}

div.moreInfoChosenImgDivLeft {
    right: 0px;
}

div.moreInfoChosenImgDivDoubleLeft {
    right: 240px;
}

div.sideButtonLeft,
div.sideButtonRight {
    position: fixed;
    background-color: transparent;

    top: 40%;
    right: 0;
    z-index: 150;

    height: 100px;
    width: 50px;

    border: 1px #AAAAAA solid;
    border-radius: 15px;

    transition: background-color 0.3s, border-color 0.3s;
}
div.sideButtonRight{
    right: 0;
}
div.sideButtonLeft{
    left: 0;
}

div.triangleLeft,
div.triangleRight {
    margin-top: 30px;

    z-index: 150;

    width: 0px;
    height: 0px;
    
    border: 20px solid transparent;
    transition: border-color 0.3s;
}

div.triangleRight{
    margin-left: 18px;
    border-left: 20px solid #888;
}
div.triangleLeft{
    margin-left: -8px;
    border-right: 20px solid #888;
}

div.sideButtonRight:hover,
div.sideButtonLeft:hover {
    background-color: #ccb;
    border-color: rgba(255,255,255,0.1);
}

div.sideButtonRight:hover > div.triangleRight{
    border-left: 20px solid #eee;
}

div.sideButtonLeft:hover > div.triangleLeft{
    border-right: 20px solid #eee;
}

div.triangleRightUnable {
    margin-left: 18px;
    margin-top: 30px;

    z-index: 150;

    width: 0px;
    height: 0px;
    
    border: 20px solid transparent;
    border-left: 20px solid #DDDDDD;
}

div.triangleLeftUnable {
    margin-left: -8px;
    margin-top: 30px;

    z-index: 150;

    width: 0px;
    height: 0px;
    
    border: 20px solid transparent;
    border-right: 20px solid #DDDDDD;
}

div.resultPartPositionDefault {
    transition: margin-right,left,opacity 1.2s,3s,1s;
    position: absolute;

    padding-top: 70px;

    top: 0px;
    left: 0%;

    width: 99%;

    opacity: 0;

    border: 0px #FFFFFF solid;
    border-radius: 20px;
    box-shadow: 3px 3px 6px 2px #888888;
}
div#resultPart2 {
    left: 140%;
}
div#resultPart3 {
    left: 280%;
}

.textDefaultStyle {
    padding-left: 8px;
    padding-right: 8px;
}

div.moreInfoContainer {
    padding: 15px;
    border: 0px #888888 solid;
    border-radius: 10px;
}

div.rectangle {
    margin: 0;
    display: block;
    width: 100%;
    height: 11px;
    background: #666666;
    font-size: 12px;
}

div.rectanglePart {
    float: right;
    display: block;
    width: 100%;
    margin-left: auto;
    background: rgb(222, 222, 222);
    height: 11px;
    line-height: 1.5em;
    text-align: right;
    font-size: 0px;
}

div.rectangle2 {
    margin: 0;
    display: block;
    width: 100%;
    height: 11px;
    background: #F73809;
    font-size: 12px;
}

div.rectanglePart2 {
    float: right;
    display: block;
    width: 100%;
    margin-left: auto;
    background: #FDDFDF;
    height: 11px;
    line-height: 1.5em;
    text-align: right;
    font-size: 0px;
}

div.pieAnimationDiv {
    font-size: 0px;
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
    min-width: 81px;
    min-height: 91px;
}

div.moreInfoPie {
    line-height: 125%;
    text-align: left;
}

div.auxForMargin {
    width: 100%;
    height: 15px;
    display: block;
    text-align: left;
    font-size: 9px;
    color: #555555;
    padding-bottom: 9px;
}

div.colorDetail {
    display: block;
    float: left;
    margin-left: 3px;
}

div.colorDetailBlock {
    height: 8px;
    width: 8px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    display: block;
    margin: 5px;
}

abbr.linkShowInfo {
    float: left;
    width: 9px;
    height: 9px;
    text-decoration: none;
}

div.colorDetailFigure {
    font-size: 10px;
    display: block;
    margin: auto
}

div.moreInfoTitle {
    line-height: 125%;
    text-align: left;
}

p.infoTitle {
    font-size: 16px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-color: #555555;
    border-style: solid;
    margin-bottom: 3px;
    text-align: left;
    overflow-y: hidden;
}

p.infoSubtitle {
    font-size: 11px;
}

span.infoSubtitle {
    font-size: 11px;
}

p.moreText {
    text-indent: 2em;
    font-size: 15px;
    text-align: justify;
    line-height: 120%;
}

abbr.moreText {
    float: left;
    width: auto;
    text-indent: 0;
    background-color: #33CC70;
    text-decoration: none;
    cursor: default;
    color: #FFFFFF;
}

div.moreText {
    height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 150px;
    font-size: 12px;
    text-align: justify;
    line-height: 130%;
}

div.moreText2 {
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 150px;
    font-size: 12px;
    text-align: left;
    line-height: 130%;
}


p.uploadColorsList {
    font-size: 0px;
    height: 0px;
}

div.colorDetailDiv {
    display: flex;

    height: 91px;
    width: 100px;

    flex-flow: column wrap;
    justify-content: center;
}

div.colorDetailRow {
    display: flex;

    padding-left: 10px;

    height: 18px;

    flex-flow: row wrap;
    justify-content: flex-start;
}

canvas.canvasPage {
    position: fixed;

    top: 0px;
    left: 0px;
    z-index: -1;

    width: 800px;
    height: 600px;

    opacity: 0.5;
}