/*
* @Author: GigaFlower
* @Date:   2016-12-23 23:12:10
* @Last Modified by:   GigaFlower
* @Last Modified time: 2016-12-27 12:40:03
*/

div.container {
    width: 100%;
}

div.left {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    float: left;
    width: 200px;
    font-size: 40px;
    font-weight: bold;
}

div.linkBar {
    margin: 0 auto;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

div.linkTitle {
    display: inline-block;
    background-color: #CCCCCC;
    width: 120px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    color: #888888;
    padding-top: 10px;
    margin-left: -2.5px;
    margin-right: -2.5px;
    font-size: 18px;
}

div.linkTitle:hover {
    color: #444444;
}

div.currentLinkTitle {
    display: inline-block;
    background-color: #CCCCCC;
    width: 120px;
    height: 25px;
    cursor: default;
    text-align: center;
    padding-top: 10px;
    margin-left: -2.5px;
    margin-right: -2.5px;
    border: 0px solid #000000;
    border-bottom-width: 4px;
    border-bottom-color: #0000FF;
    font-size: 18px;
    font-weight: bold;
}

div.input {
    margin-left: 210px;
    padding-bottom: 5px;
    font-size: 16px;
}

div.resultTitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.askTitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.matchedResult {
    width: 600px;
    height: 800px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
div.matchedResult:hover{
    box-shadow: 1px 1px 5px 5px #888888;
}

div.similarResult {
    float: left;
    width: 300px;
    height: 400px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
div.similarResult:hover{
    box-shadow: 1px 1px 5px 5px #888888;
}

.textDefaultStyle {
    padding-left:8px;
    padding-right:8px;
}