/*
* @Author: GigaFlower
* @Date:   2016-12-23 23:12:10
* @Last Modified by:   GigaFlower
* @Last Modified time: 2016-12-27 12:40:03
*/

div.container {
    width: 100%;

    font-family: "微软雅黑", "Calibri", "Century Gothic", "Verdana", "Tahoma", "Arial", "黑体";
}
div#resultContainer {
    position: absolute;

    top: 120px;
    left: 20px;
}
div.titleContainerDefault {
    position: relative;
    background-color: #FFFFFF;

    width: 700px;
    height: 130px;

    z-index: 100;
}

div.titleContainerPassive {
    transition: opacity 0.5s;

    position: fixed;
    background-color: #FFFFFF;

    top: 0;
    left: 0;
    z-index: 100;

    width: 700px;
    height: 140px;

    opacity: 0.1;
}
div.titleContainerPassive:hover {
    transition: opacity 1s;

    opacity: 1;
}

div.title {
    cursor: pointer;

    margin: 40px 20px 40px 20px;
    float: left;

    width: 210px;

    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

div.linkBar {
    height: 40px;

    padding: 20px;

    text-align: left;
}

div.linkTitle {
    display: inline-block;
    background-color: #DDDDDD;
    cursor: pointer;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    border: 2px #888888 solid;
    border-radius: 5px;

    text-align: center;
    color: #888888;
    font-size: 18px;
}
div.linkTitle:hover {
    border: 2px #444444 solid;

    color: #444444;
}

div.currentLinkTitle {
    display: inline-block;
    background-color: #DDDDDD;
    cursor: default;

    width: 120px;
    height: 25px;

    margin: 0 -2.5px;
    padding-top: 10px;

    border: 2px #888888 solid;
    border-bottom-width: 4px;
    border-bottom-color: #0000FF;
    border-radius: 5px;

    text-align: center;
    font-size: 18px;
}

div.input {
    text-align: left;
    font-size: 16px;
}

input.keyword {
    background-color: transparent;

    margin-left: -10px;

    width: 400px;
    height: 30px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    outline-width: 0;
    vertical-align: top;
}
input.keyword:hover {
    border: 3px #888888 solid;
}

button.submit {
    cursor: pointer;
    background-color: #DDDDDD;

    height: 38px;
    width: 55px;

    border: 3px #AAAAAA solid;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;
    color: #888888;
    outline-width: 0;
}
button.submit:hover {
    border: 3px #888888 solid;

    color: #000000;
}

div.passiveAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -150px;
    padding-top: 8px;

    height: 24px;
    width: 100px;

    border: 3px #FFFFFF solid;
    border-radius: 10px;
    border-color: transparent;

    font-size: 18px;
    text-align: center;
    color: #888888;
    outline-width: 0;
    vertical-align: top;
}
div.passiveAdvancedTitle:hover {
    border-color: #888888;

    color: #444444;
}

div.activeAdvancedTitle {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    margin-left: -150px;
    padding-top: 8px;

    height: 24px;
    width: 100px;

    border: 3px #888888 solid;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;
    color: #000000;
    outline-width: 0;
    vertical-align: top;
}

div.advancedSearchPanel {
    transition: transform 1s;
    transform: rotateX(90deg);
    transform-origin: 50% 0;

    background-color: #EEEEEE;

    margin: 20px;
    padding-bottom: 5px;

    width: 750px;

    box-shadow: 3px 3px 6px 3px #888888;

    border: 3px #FFFFFF solid;
    border-radius: 20px;
    border-color: transparent;
    
    text-align: center;
    font-size: 18px;
}

div.advancedSearchBar {
    margin: 5px 0px 5px 0px;

    height: 40px;

    text-align: center;
    font-size: 18px;
}

div.advancedSearchTitle {
    cursor: default;

    padding-top: 10px;
    padding-left: 20px;

    width: 100px;
    height: 25px;
    float: left;
    
    border: 3px #FFFFFF solid;
    border-color: transparent;

    text-align: left;
    font-size: 18px;
}

div.advancedSearchType {
    cursor: pointer;

    margin: 0 5px 0 5px;
    padding-top: 10px;
    float: left;

    width: 80px;
    height: 25px;
    
    border: 2px #FFFFFF solid;
    border-radius: 10px;
    border-color: transparent;

    text-align: center;
    color: #888888;
    font-size: 18px;
}
div.advancedSearchType:hover {
    border: 2px solid #CCCCCC;

    color: #444444;
}

div.advancedSearchTypeActive {
    cursor: pointer;
    background-color: #DDDDDD;

    margin: 0 5px 0 5px;
    padding-top: 10px;
    float: left;

    width: 80px;
    height: 25px;
    
    border: 2px #888888 solid;
    border-radius: 10px;

    text-align: center;
    color: #000000;
    font-size: 18px;
}

input.enterpriseName {
    background-color: transparent;

    margin-top: 3px;

    width: 200px;
    height: 28px;
    float: left;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    outline-width: 0;
    vertical-align: top;
}
input.enterpriseName:hover {
    border: 3px #888888 solid;
}

input.browse {
    cursor: pointer;
    background-color: #DDDDDD;

    height: 38px;
    width: 65px;

    border: 3px #AAAAAA solid;
    border-radius: 10px;

    font-size: 18px;
    text-align: center;
    color: #888888;
    outline-width: 0;
    vertical-align: top;
}
input.browse:hover {
    border: 3px #888888 solid;

    color: #000000;
}

input.logo {
    display: none;

    width: 59px;
    height: 32px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
}

input.textfield {
    background-color: transparent;

    margin-left: -10px;

    width: 290px;
    height: 30px;

    border: 3px #AAAAAA solid;
    border-radius: 15px;

    font-size: 18px;
    text-indent: 10px;
    color: #888888;
    outline-width: 0;
    vertical-align: top;
}
input.textfield:hover {
    border: 3px #888888 solid;
}

div.resultTitle {
    margin: 20px 20px 20px 0px;

    width: 100%;

    font-size: 22px;
    font-weight: bold;
}

div.matchedResult {
    transition: box-shadow 0.8s;
    transition: border 0.8s;

    display: inline-block;

    margin: 30px 80px 30px 30px; 
    padding-top: 20px;

    width: 270px;
    height: 270px;

    border: 3px #FFFFFF solid;
    border-radius: 25px;

    text-align: center;
    font-size: 20px;
}
div.matchedResult:hover{
    transform: scale(1.2);

    box-shadow: 3px 3px 6px 2px #888888;
    
    border: 3px #888888 solid;
}

div.similarResult {
    transition: box-shadow 0.8s;
    transition: border 0.8s;

    display: inline-block;

    margin: 25px;
    padding-top: 20px;

    width: 250px;
    height: 250px;
    
    border: 3px #FFFFFF solid;
    border-radius: 25px;
    border-color: transparent;

    text-align: center;
    font-size: 18px;
}
div.similarResult:hover{
    transform: scale(1.2);

    box-shadow: 3px 3px 6px 2px #888888;

    border: 3px #888888 solid;
}

img.matchedImg {
    padding-top: 10px;

    max-width: 220px;
    max-height: 220px;
}

img.similarImg {
    padding-top: 10px;

    max-width: 200px;
    max-height: 200px;
}

.textDefaultStyle {
    padding-left:8px;
    padding-right:8px;
}