/*
* @Author: GigaFlower
* @Date:   2016-12-23 23:12:10
* @Last Modified by:   GigaFlower
* @Last Modified time: 2016-12-27 12:40:02
*/

div.container {
    width: 100%;

    font-family: "Century Gothic", Verdana, Tahoma,"微软雅黑", Arial;
}

div.title {
    margin-top: 100px;
    margin-bottom: 40px;
    float: left;

    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

div.linkTitle {
    padding-top: 16px;
    padding-bottom: 5px;
    margin-left: 210px;
    font-size: 16px;
    font-weight: bold;
}

div.input {
    margin-left: 210px;
    padding-bottom: 5px;
    font-size: 16px;
}

div.resultTitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.askTitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.matchedResult {
    width: 600px;
    height: 800px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
div.matchedResult:hover{
    box-shadow: 1px 1px 5px 5px #888888;
}

div.similarResult {
    float: left;
    width: 300px;
    height: 400px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
div.similarResult:hover{
    box-shadow: 1px 1px 5px 5px #888888;
}